<% layout("/layouts/boilerplate.ejs") -%>

<div style="text-align:center; margin-top:100px;">
    <h1>Error <%= typeof statusCode !== 'undefined' ? statusCode : 500 %></h1>
    <p><%= message || "Something went wrong!" %></p>
    <a href="/listings" class="btn btn-dark mt-3">Go Back to Listings</a>
</div>